/* Custom animation for the walking boy */
:host ::ng-deep .animate-walk {
  animation: walk 10s linear forwards;
}

@keyframes walk {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(calc(50vw - 200px));
  }
}

/* Explosion animation */
:host ::ng-deep .animate-explode {
  animation: explode 0.5s ease-out forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}